<!DOCTYPE html>
<html>
  <head>
    <title>Letter Cannon!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  </head>
  <body>
    <div id="titlebar">
      <h1 class="title">Letter Cannon</h1>
      <div id="titlelogo"></div>
      <h2>Time Left: <strong id="timer"></strong></h2>
    </div>

    <button id="toggle_mode"></button>

    <div id="left-sidebar">
      <h3>Found Words</h3>
      <ul id="found_words_list">
      </ul>
    </div>

    <div id="right-sidebar">
      <h2>Current Score: <strong id="score">0</strong></h2>
      <h3>Point values</h3>

      <ul id="point-values">
        <li><span class="red"></span> = 1</li>
        <li><span class="orange"></span> = 2</li>
        <li><span class="silver"></span> = 3</li>
        <li><span class="green"></span> = 4</li>
        <li><span class="blue"></span> = 5</li>
        <li><span class="indigo"></span> = 8</li>
        <li><span class="purple"></span> = 10</li>
      </ul>
    </div>

    <div id="engine">
      /*{{ tz_engine_div }}*/
    </div>

    <!-- begin 'tz_include_js' variable -->
    /*{{ tz_include_js }}*/
    <!-- end 'tz_include_js' variable -->

    <script type="text/javascript">
      // ----------------------------------------
      // Embedded code and startup code.
      // Supplied by 'tz_startup_code' variable.
      // ----------------------------------------
      /*{{ tz_startup_code }}*/
    </script>

  </body>
</html>
